*{
    margin: none;
}

.body{
    height: 100%;
    padding: 5px;
}

.unauthorized-content{
    background-image: linear-gradient(red, yellow);
}

.login-button{
    text-align: center;
}

.hero.img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.authorized-content{
    display: none;
}