*{
    margin: none;
}

body{
    background-image: linear-gradient(to right, red, yellow);
}

.login-button{
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1, h2{
    font-size: 32px;
    text-align: center;
}

.btn{
    border: 3px solid black;
    border-radius: 15px;
    background-color: black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
}
